.mywork_sec{
    width: 100%;
}

.mywork_sec h1{
    text-align: center;
    color: #2674fc;
    text-transform: capitalize;
    font-size: 5rem;
    text-decoration: underline;
    font-family: 'Bebas Neue', cursive;
}