.full_page{
    display: flex;
    width: 100%;
}

.nav{
    width: 20%;
}

.body{
    width: 80%;
}


@media (max-width:1024px) {

    .full_page{
        display: block;
    }

    .body{
        width: 100%;
    }

    .nav{
        display: none
    }
    
}