*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;}


html {
  font-size: 62.5%; 
 }










/* Large devices (laptops/desktops, 992px  and down ) */
@media only screen and (max-width: 992px) {



}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    html{
      font-size: 56.25% ;
    }





}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html{
    font-size: 50%;
  }

}
